nav {
   
    color: #D3D9D4;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.nav-link {
    color: #D3D9D4;
    text-decoration: none;
    padding: 15px 20px;
    font-size: 1.2em;
    transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover, .nav-link:focus {
    background-color: #124E66;
    color: #D3D9D4;
    border-radius: 5px;
}

.active-link, .nav-link.active {
    background-color: #074D92;
    border-radius: 5px;
}

header {
    background: linear-gradient(to bottom, #D3D9D4, #748D92);
    width: 100%;
    text-align: center; }
   
