body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #D3D9D4;
  color: #212A31;
}

header, footer {
  background-color: #212A31;
  color: #D3D9D4;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #2E3944;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
}

nav a {
  color: #D3D9D4;
  text-decoration: none;
  font-size: 1.2em;
}

nav a:hover {
  background-color: #124E66;
  border-radius: 5px;
  padding: 5px;
}

main {
  padding: 20px;
  background-color: #D3D9D4;
  color: #212A31;
}

footer {
  background-color: #124E66;
}

p, h1, h2, h4 {
  text-align: center;
}

.property-list {
  list-style: none;
  padding: 0;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.card {
  flex: 1 0 300px;
  background-color: #748D92;
  color: #212A31;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  transition: transform 0.3s ease-in-out;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card h4 {
  margin-top: 10px;
  font-size: 1.5em;
}

.card p {
  font-size: 0.9em;
  line-height: 1.4;
  margin-bottom: 5px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.button, button {
  background-color: #124E66;
  color: #D3D9D4;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover, button:hover {
  background-color: #074D92;
}

form {
  background-color: #2E3944;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  color: #D3D9D4;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="email"],
textarea,
select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #124E66;
  background-color: #fff;
  color: #212A31;
  font-size: 16px;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
textarea:focus,
select:focus {
  border-color: #074D92;
  box-shadow: 0 0 8px rgba(7, 77, 146, 0.4);
  outline: none;
}

select {
  cursor: pointer;
  appearance: none;
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-color: #fff;
}

.container {
  background-color: #D3D9D4;
  color: #212A31;
  padding: 20px;
  border-radius: 8px;
  width: 50%;
  margin: 20px auto;
  max-width: 600px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 600px) {
  .container {
    width: 95%;
    padding: 15px;
    margin: 10px auto;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 42, 49, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #2E3944;
  padding: 20px;
  border-radius: 5px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.3);
  position: relative;
  color: #D3D9D4;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  color: #124E66;
}

.close:hover {
  color: #748D92;
}


#whoWeAre {
  background-color: #748D92; 
  color: #212A31; 
  border-left: 4px solid #124E66; 
  padding: 20px;
  margin-bottom: 20px;
}

#ourMission {
  background-color: #748D92;
  color: #212A31;
  border-left: 4px solid #2E3944;
  padding: 20px;
  margin-bottom: 20px;
}

#meetOurTeam {
  background-color: #748D92;
  color: #212A31;
  border-left: 4px solid #2E3944; 
  padding: 20px;
  margin-bottom: 20px;
}
